body {
    background-color: coral;
    margin: 0;
}

#app-header {
    background-color: white;
    padding-left: 30px;
}

#toboo {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    vertical-align: top;
}

/* /header */

#addfunction {
    margin-top: 80px;
}

.brd {
    border: coral 4px solid;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
}

.addb {
    margin: 5px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 8px;

}

.abled {

    background-color: #45abea;
    color: white;
    border: #45abea 2px solid;
    margin-left: 2em;
}

.disabled {
    background-color: #ffffff;
}
