*{
    margin: 0;
    padding: 0;
    box-sizing: "border-box"
    }

body {
    background-color: #f6f8f9;
    margin: 0;
}

#app-header {
    background-color: white;
    padding-left: 30px;
}

#toboo {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    vertical-align: top;
}

/* /header */

#containermargin {
    margin-top: 80px;
}

#containerpadding{
    padding-bottom: 50px;
}

.brd {
    border: #f6f8f9 4px solid;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
}

/* buttons */
.addb {
    margin: 5px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 8px;

}

.abled {

    background-color: #45abea;
    color: white;
    border: #45abea 2px solid;
    margin-left: 2em;
}

.disabled {
    background-color: #ffffff;
}

.buttonshape{
    padding: 3px 10px 3px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 20px;
    vertical-align: middle;
    font-size: x-small;
}

.editorial{
    background-color: #45abea;
    color: white;
    border: #45abea 2px solid;
}

.q1goals{
    background-color: #9c72e4;
    color: white;
    border: #9c72e4 2px solid;
}

.recruiting{
    background-color: #64c0a9;
    color: white;
    border: #64c0a9 2px solid;
}

.mobile{
    background-color: #f29e33 ;
    color: white;
    border: #f29e33 2px solid;
}

.website{
    background-color: #d863a1;
    color: white;
    border: #d863a1 2px solid;
}

.sales{
    background-color: #b0c926;
    color: white;
    border: #b0c926 2px solid;
}
/* /buttons */


.text{ 
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5;
    margin-left: 30px;
}

.menu{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-left: 15px;
}

.triangledown{
    font-size: 35px;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;    
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin-left: 6px;
}

.check{
    margin-right: 1em;
    border-radius: 50%;
    width: 0.5px;
    height: 0.5px;
    padding: 2px;
    border: 2px solid rgb(52, 194, 71);
    color: rgb(52, 194, 71);
    text-align: center;
    font: 10px Arial, sans-serif;
    font-weight: bold;
}

.cross{
    margin-right: 1em;
    border-radius: 50%;
    width: 0.5px;
    height: 0.5px;
    padding: 2px;
    border: 2px solid rgb(190, 10, 4);
    color: rgb(190, 10, 4);
    text-align: center;
    font: 10px Arial, sans-serif;
    font-weight: bold;
}